$mainColor:#26a2ff;
$hsize:0.6rem;
html,body{
    height: 100%;
}
#sm_get{
    height: 100%;
    display:flex;
    flex-direction:column;
    .get_header{
        line-height: $hsize; 
        background:$mainColor;
         height: $hsize;
        .mint-header-title{
         font-size:0.24rem;   
         }
        .mint-button{
            line-height: $hsize;  
             }
    }
    .searchAddr{
        height: 0.73rem;
        background:#d9d9d9;
        .mint-search{
        height: 0.6rem;
        margin:0.07rem 0;
        }
    }
    .get_main{
        flex:1;
        position:relative;
        background:#d9d9d9;
        .address{
            background:#fff;
            height: 0.67rem;
            p{  
                color:#58bc58;
                text-align:left;
                font-size:0.24rem;
                line-height: 0.67rem;
                i{
                    line-height: 0.67rem;
                }
                i:nth-child(2){
                    float:right;
                    margin-right:0.13rem;
                }
                i:nth-child(1){
                    float:left;
                    margin-left:0.13rem;
                }
                
            }
        }
    .get_footer{
            position:absolute;
            bottom:0rem;
            left:0;
            right:0;
            height: 0.67rem;
            line-height: 0.67rem;
            text-align:center;
            color:#fff;
            font-size:0.24rem;
            width: 100%;
            background:$mainColor;
        }
        .myAddress{
            h4{
                padding:0.13rem;

            }
            ul{
                background:#fff;
            }
    }
    }

}